<main class="ui basic segment"><br />
    <br />
    <br />
    <br />
    <br />
    <br />
   

    <body id="welcome_body">
    <div id="welcome_banner" style="
    width: 475px;" class="ui container segment">
        <img class="ui centered image" src="/assets/logo.png" height="200" width="200">
    </div>
    <div class="ui hidden divider"></div>
    
    <div class="ui hidden divider"></div>
    <div class="ui teal raised very padded text container segment">
        <style>
            .ui.teal.raised.very.padded.text.container.segment {
  background-color: #ffcc09;
}
        </style>
        <h3 class="ui centered large header">The Ultimate Trip Planner</h3>
            <div class="ui clearing container segment">
                <span class="ui basic left floated segment"><p class="ui header">Have an account?</p></span>
                <a class="ui large right floated positive button" href='/login'>Login!</a>
            </div>
            <div class="ui clearing container segment">
                <span class="ui basic left floated segment"><p class="ui header">Or get started here!</p></span>
                <a class="ui large right floated teal button" href='/signup'>Sign Up!</a>
            </div>
    </div>
    </body>
</main>